<p *ngIf="!order || !customers"><em>Loading...</em></p>
<form #orderForm="ngForm" class="ng-pristine ng-untouched ng-valid" novalidate *ngIf="order && customers">
  <div class="col-xs-8">
    <div class="form-group">
      <label>Date</label>
      <input class="form-control" name="date" [(ngModel)]="order.date" />
    </div>
    <div class="form-group">
      <label>Customer</label>
      <select class="form-control" name="customer" [(ngModel)]="order.customer">
        <option *ngFor="let customer of customers" [value]="customer.name">
          {{customer.name}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label>Status</label>
      <input type="number" class="form-control" name="status" [(ngModel)]="order.status" />
    </div>
    <div class="form-row">
      <label>Prepaid</label>
      <input type="checkbox" class="form-control" name="prepaid" [(ngModel)]="order.prepaid" />
    </div>
    <div class="form-group">
      <label>Summ</label>
      <input type="number" class="form-control" name="summ" [(ngModel)]="order.summ" />
    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" name="description" [(ngModel)]="order.description" />
    </div>
  </div>
  <div class="form-group form-save-button" >
    <button [disabled]="orderForm.invalid" class="btn btn-default focus" (click)="saveOrder()">Save</button>
  </div>
</form>