input.ng-touched.ng-invalid {
  border: solid red 2px;
}
input.ng-touched.ng-valid {
  border: solid green 2px;
}

div.edit-order-modal{
  margin-left: 3%;
  margin-right: 3%;
}

div.form-group label{
  font-weight: bold;
}

input.btn-prepaid{
  margin-left: 10px;
}