<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="edit-order-modal">
  <form *ngIf="order | async; else loading" class="ng-pristine ng-untouched ng-valid" [formGroup]="formGroup"
    (validSubmit)="saveOrder()">
    <div class="col-xs-8">
      <div class="form-group">
        <label class="control-label">Date</label>
        <div class="input-group">
          <input class="form-control" name="dp" formControlName="date" ngbDatepicker #d="ngbDatepicker"
            placeholder="yyyy-mm-dd">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>

      </div>
      <div class="form-group">
        <label class="control-label">Customer</label>
        <select class="form-control" formControlName="customer">
          <option *ngFor="let customer of customers" [value]="customer.name">
            {{customer.name}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label class="control-label">Status</label>
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="status">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="0"> Created
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="1"> In process
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="2"> Closed
          </label>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">Prepaid</label>
        <input class="btn-prepaid" type="checkbox" formControlName="prepaid">
      </div>

      <div class="form-group">
        <label>Summ</label>
        <input type="number" class="form-control" formControlName="summ" />
      </div>

      <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" formControlName="description" />
      </div>

      <div class="modal-footer">
        <button class="btn btn-outline-primary" type="submit">Save</button>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
      </div>
    </div>
  </form>

  <ng-template #loading>
    Loading order...
  </ng-template>
</div>