<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="edit-order-modal">
  <p *ngIf="!order || !customers"><em>Loading...</em></p>
  <form #orderForm="ngForm" class="ng-pristine ng-untouched ng-valid" novalidate *ngIf="order && customers">
    <div class="col-xs-8">
      <div class="form-group">
        <label>Date</label>
        <ngbd-datepicker-popup [(selectedDate)]="order.date"></ngbd-datepicker-popup>
      </div>

      <div class="form-group">
        <label>Customer</label>
        <select class="form-control" name="order_customer" [(ngModel)]="order.customer">
          <option *ngFor="let customer of customers" [value]="customer.name">
            {{customer.name}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="order_status" [(ngModel)]="order.status">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="0"> Created
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="1"> In process
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="2"> Closed
          </label>
        </div>
      </div>

      <div class="form-group">
        <label class="label-prepaid" ngbButtonLabel> Prepaid
          <input class="btn-prepaid" type="checkbox" ngbButton name="order_prepaid" [(ngModel)]="order.prepaid">
        </label>
      </div>

      <div class="form-group">
        <label>Summ</label>
        <input type="number" class="form-control" name="order_summ" [(ngModel)]="order.summ" />
      </div>
      <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" name="order_description" [(ngModel)]="order.description" />
      </div>
    </div>
    <div class="modal-footer">
      <button [disabled]="orderForm.invalid" type="button" class="btn btn-outline-primary"
        (click)="saveOrder()">Save</button>
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
    </div>
  </form>
</div>