div.edit-order-modal {
  margin-left: 3%;
  margin-right: 3%;
}

div.form-group label {
  font-weight: bold;
}

input.btn-prepaid {
  margin-left: 10px;
}

div.btn-group.btn-group-toggle {
  width: 100%;
}
